.element-appearance,
.delivery__card-appearance,
.about-appearance{
   transition: all 0.3s ease-out;
}

.intro__product.element-appearance,
.popular__cards.element-appearance{
   opacity: 0;
   transform: translateX(-50px);

   &.element-show{
      opacity: 1;
      transform: translateX(0);
   }
}

.about__image-wrap.element-appearance{
   opacity: 0;
   transform: rotate(-15deg) translateX(-30%);

   &.element-show{
      opacity: 1;
      transform: rotate(0) translateX(0);
   }
}

.delivery__card.delivery__card-show{
   opacity: 1;
   transform: translateY(0);
}

.delivery__card.element-appearance{
   opacity: 0;
   transform: translateY(50px);

   &:nth-child(2) {
      transition-delay: 0.3s;
   }

   &:nth-child(3) {
      transition-delay: 0.6s;
   }

   &.element-show{
      opacity: 1;
      transform: translateY(0);
   }
}