$brown: #2f2105;
$orange: #ff902b;
$yellow: #f4ae26;
$flesh: #f6ebda;
$gray: #7e7d7a;
$peach: #ffddab;

@media (max-width: 1025px) {
   .header__content {
      gap: 35px;
   }

   .intro__coffee {
      align-self: center;
      width: 300px;
      height: 300px;

      .intro__coffee-item {
         width: auto;
         height: auto;

         p {
            padding: 10px 25px;
         }
      }
   }
}

@media (max-width: 935px) {
   .coffee__info {
      padding: 19px 0 0 0;
   }

   .header__search {
      position: relative;

      input {
         width: 180px;
         padding: 11px 40px;
      }
   }

   .header__links {
      font-size: 16px;
      gap: 25px;
   }

   .header__cart {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: 33px;
      height: 33px;
      z-index: 25;

      img {
         width: 20px;
         height: 20px;
      }
   }

   .intro__content {
      flex-direction: column;
   }

   .intro__info {
      margin: 0 auto;
      text-align: center;
   }

   .intro__desc {
      margin: 0 auto 32px auto;
   }

   .intro__links {
      justify-content: center;
   }

   .intro__coffee {
      margin: 0;
      order: -1;
   }

   .reviews__stage {
      margin: 0;
   }

   .about__info {
      padding: 0;
   }
}

@media (max-width: 850px) {
   .about {
      background-size: cover;
   }

   .about__content {
      padding-top: 30px;
   }
}

@media (max-width: 800px) {
   .header__content {
      margin-left: 0;
   }

   .header__nav {
      position: absolute;
      top: 115%;
      right: 0;
      transform: translateX(100%);
      padding: 30px;
      background-color: $peach;
      border-radius: 15px;
      transition: all 0.2s linear;
      z-index: 450;

      &--appeared {
         transform: translateX(-25px);
      }
   }

   .header__links {
      flex-direction: column;
   }

   .header__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;
      width: 38px;
      height: 38px;
      padding: 11px;
      margin-left: auto;
      background-color: $orange;
      border-radius: 50%;

      span {
         width: 100%;
         height: 3px;
         border-radius: 1px;
         background-color: #202020;
      }
   }
}

@media (max-width: 775px) {
   .reviews {
      background-size: cover;
   }

   .reviews__content {
      flex-direction: column;
      align-items: baseline;
      gap: 25px;
   }

   .reviews__stage-wrap {
      max-width: calc(100vw - 50px);
   }

   .reviews__stage {
      margin: 0 auto;
   }
}

@media (max-width: 670px) {
   .about__content {
      flex-direction: column-reverse;
      align-items: baseline;
   }

   .about__image-wrap {
      align-self: baseline;
      max-width: 30%;
   }
}

@media (max-width: 575px) {
   .intro__coffee {
      width: 225px;
      height: 225px;
      padding: 30px;

      .intro__coffee-item {
         p {
            height: 40px;
            font-size: 19px;
         }

         &--name {
            left: -60px;
         }

         &--rating {
            right: -50px;
         }

         &--amount {
            left: -25px;
            bottom: 25px;
         }
      }
   }
}

@media (max-width: 500px) {
   .header {
      margin-top: 10px;

      &--scrolled .header__wrap {
         padding: 12px 10px;
      }
   }

   .header.wrapper {
      padding: 0 10px;
   }

   .header__wrap {
      gap: 15px;
   }

   .header__logo img {
      max-width: 107px;
   }
   
   .intro {
      background:
         url("../img/intro/intro-bg.png") 7px calc(100% + 90px),
         $flesh;
      background-repeat: no-repeat;
   }

   .intro__info {
      padding-top: 0;
   }

   .intro__title {
      font-size: 25px;
   }

   .intro__content {
      padding-top: 75px;
   }

   .coffee__title {
      font-size: 19px;
   }

   .reviews__info {
      padding: 0;
   }
}

@media (max-width: 430px) {
   .wrapper {
      padding-left: 15px;
      padding-right: 15px;
   }

   .intro,
   .popular,
   .delivery,
   .about,
   .special,
   .reviews,
   .subscription {
      margin-bottom: 75px;
   }

   .header{
      &--scrolled{
         .header__logo{
            display: none;
         }

         .header__content{
            flex: 1 0 auto;

            .header__search, .header__search-field, input{
               width: 100%;
            }
         }
      }
   }

   .header__nav{
      &--appeared {
         transform: translateX(-10px);
      }
   }

   .intro__content {
      padding-bottom: 300px;
   }

   .subscription__content {
      padding: 70px 20px;
   }

   .subscription__text {
      font-size: 25px;
   }

   .subscription__input {
      font-size: 13px;
      height: 40px;
      padding: 8px 89px 8px 16px;
   }

   .subscription__btn {
      width: 80px;
      font-size: 12px;
   }
}
