$brown: #2f2105;
$orange: #ff902b;
$yellow: #f4ae26;
$flesh: #f6ebda;
$gray: #7e7d7a;
$peach: #ffddab;

@media (max-width: 1025px) {
   .header__content {
      gap: 35px;
   }

   .intro__coffee {
      align-self: center;
      width: 300px;
      height: 300px;

      .intro__coffee-item {
         width: auto;
         height: auto;

         p {
            padding: 10px 25px;
         }
      }
   }
}

@media (max-width: 915px) {
   .coffee__info {
      padding: 19px 0 0 0;
   }

   .header__search {
      position: relative;

      input {
         width: 180px;
         padding: 11px 40px;
      }
   }

   .header__links {
      font-size: 16px;
      gap: 25px;
   }

   .header__cart {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: 33px;
      height: 33px;
      z-index: 25;

      img {
         width: 20px;
         height: 20px;
      }
   }

   .intro__content {
      flex-direction: column;
   }

   .intro__info {
      margin: 0 auto;
      text-align: center;
   }

   .intro__desc {
      margin: 0 auto 32px auto;
   }

   .intro__links {
      justify-content: center;
   }

   .intro__coffee {
      margin: 0;
      order: -1;
   }

   .reviews__stage {
      margin: 0;
   }
}

@media (max-width: 800px) {

   .header__content {
      margin-left: 0;
   }

   .header__nav {
      position: absolute;
      top: 115%;
      right: 0;
      transform: translateX(100%);
      padding: 30px;
      background-color: $peach;
      border-radius: 15px;
      transition: all 0.2s linear;
      z-index: 450;

      &--appeared {
         transform: translateX(-25px);
      }
   }

   .header__links {
      flex-direction: column;
   }

   .header__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45px;
      height: 45px;
      padding: 13px;
      margin-left: auto;
      background-color: $orange;
      border-radius: 50%;

      span {
         width: 100%;
         height: 3px;
         border-radius: 1px;
         background-color: #202020;
      }
   }
}

@media (max-width: 775px) {

   .reviews {
      background-size: cover;
   }

   .reviews__content {
      flex-direction: column;
      align-items: baseline;
      gap: 25px;
   }

   .reviews__stage-wrap {
      max-width: calc(100vw - 50px);
   }

   .reviews__stage {
      margin: 0 auto;
   }
}

@media (max-width:575px) {
   .intro__coffee{
      width: 225px;
      height: 225px;
      padding: 30px;

      .intro__coffee-item {

         p{
            height: 40px;
            font-size: 19px;
         }

         &--name{
            left: -60px;
         }

         &--rating{
            right: -50px;
         }

         &--amount{
            left: -25px;
            bottom: 25px;
         }

      }
   }
}

@media (max-width: 500px) {
   .coffee__title {
      font-size: 19px;
   }
}
// @media (max-width: 700px) {
//    .coffee__title {
//       font-size: 19px;
//    }

//    .coffee__purchasing {
//       .coffee__type-buttons {
//          gap: 10px;

//          .coffee__button {
//             width: 45px;
//             font-size: 13px;
//          }
//       }

//       .coffee__buy {
//          width: 37px;
//          height: 37px;
//       }
//    }
// }
