$brown: #2f2105;
$orange: #ff902b;
$dark-orange: #ff6600;
$yellow: #f4ae26;
$flesh: #f6ebda;
$gray: #7e7d7a;
$peach: #ffddab;

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   background-repeat: no-repeat;

   &::-webkit-scrollbar {
      width: 14px;
      background-color: #fff;
   }

   &::-webkit-scrollbar-thumb {
      background-color: rgba($orange, 0.5);
      border-radius: 5px;
      border: 2px solid #fff;
   }
}

body {
   font-family: "Poppins";
   font-size: 18px;
   font-weight: 400;
   font-style: normal;
   color: #000;
   line-height: 1;
}

::selection {
   background-color: #463d2c;
   border-radius: 10px;
}

ul,
ol,
li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

button,
input {
   font-family: "Poppins", sans-serif;
   background: none;
   outline: 0;
   border: 0;
   box-shadow: none;
}

button {
   cursor: pointer;
}

/* --Blocks-- */

.wrapper {
   max-width: 1220px;
   padding: 0 25px;
   margin: 0 auto;
}

.page-title {
   font-size: 32px;
   font-weight: 600;
   letter-spacing: 1.28px;

   u {
      position: relative;
      text-decoration: none;
      white-space: nowrap;
   }

   u::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $orange;
      z-index: 10;
   }
}

.cart {
   position: fixed;
   top: 80px;
   right: 25px;
   display: none;
   justify-content: center;
   width: 100%;
   max-width: 700px;
   min-height: 245px;
   padding: 30px 30px 90px 30px;
   border-radius: 15px;
   background-color: $peach;
   box-shadow: 0 0 20px 0 rgba(126, 125, 122, 0.2);
   overflow-y: hidden;
   z-index: 650;

   &--opened {
      display: flex;
   }

   &:has(.cart__title-wrap--disappeared) {
      min-height: 0;
   }

   .cart__content {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 30px;
      max-height: 400px;
      min-height: 45px;
      width: 100%;
      color: $brown;
      overflow-y: auto;

      .cart__title-wrap {
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         width: 100%;
         text-align: center;

         &--disappeared {
            display: none;
         }
      }

      .cart__title {
         padding: 0 25px;
         text-align: center;
         font-size: 20px;
         font-weight: 600;
         color: $brown;
      }

      .cart__product {
         display: flex;
         align-items: center;
         width: 100%;
         font-size: 20px;
         padding-right: 25px;

         .cart__product-img-wrap {
            flex-shrink: 0;
            width: 125px;
            height: 125px;
            margin-right: 20px;

            img {
               width: 100%;
               height: 100%;
               border-radius: 15px;
               border: 3px solid #fff;
               object-fit: cover;
            }
         }

         .cart__product-controls {
            display: flex;
            flex-grow: 1;

            .cart__product-name {
               width: 180px;
               min-width: 140px;
               height: 25px;
               margin-right: 15px;
               overflow-x: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
            }

            .cart__product-change {
               display: flex;
               align-items: center;
               gap: 14px;
               margin-right: 20px;

               .cart__product-amount {
                  width: 30px;
                  text-align: center;
               }

               button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 21px;
                  height: 21px;
                  color: $brown;
                  border: 2px solid $brown;
                  border-radius: 4px;
                  user-select: none;
               }
            }

            .cart__product-total-cost {
               margin-left: auto;
               white-space: nowrap;
               flex-shrink: 0;

               span {
                  display: inline-block;
                  min-width: 36px;
                  text-align: right;
               }
            }
         }
      }
   }

   .cart__purchase {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: 75px;
      padding: 0 30px;
      background-color: rgba($orange, 0.7);
      z-index: 700;

      &--showed {
         display: flex;
      }

      .cart__total-cost {
         font-size: 17px;
         font-weight: 500;
         white-space: nowrap;
         flex-shrink: 0;

         span {
            display: inline-block;
            min-width: 40px;
            margin-left: auto;
            text-align: right;
         }
      }

      .cart__buy-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 10px;
         min-width: 100px;
         padding: 12px;
         color: $yellow;
         background-color: #2f2105;
         box-shadow: inset 0 0 0 3px #2f2105;
         font-size: 17px;
         font-weight: 600;
         border-radius: 33px;
         transition: all 0.2s linear;

         &:hover {
            background-color: $orange;
            color: $brown;
         }
      }
   }
}

.product {
   padding: 6px;
   backdrop-filter: blur(2px);
   background-color: rgba(#fff, 0.5);
   border-radius: 12px;
   box-shadow: 10px 10px 32px 0 rgba(#000, 0.25);
}

.product__block {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 24px 18px 19px 18px;
   border-radius: 12px;
   background-color: #fff;
}

.product__image-wrap {
   position: relative;

   > img {
      width: 100%;
      height: auto;
      border-radius: 12px;
   }
}

.product__rating-wrap {
   position: absolute;
   top: 7px;
   left: 10px;
   padding: 4px;
   backdrop-filter: blur(2px);
   background-color: rgba(#fff, 0.5);
   border-radius: 27px;
   z-index: 150;

   .product__rating {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 6px 10px;
      background-color: #fff;
      border-radius: 50px;

      p {
         color: $brown;
         font-weight: 700;
         letter-spacing: 0.56px;
      }

      .product__star {
         width: 14px;
         height: 14px;
         user-select: none;
      }
   }
}

.product__info {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: 19px 15px 0 11px;
}

.product__title {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   gap: 10px;
   margin-bottom: 6px;
   font-size: 24px;
   color: $brown;
   letter-spacing: 0.96px;

   .product__name {
      font-weight: 600;
      font-size: inherit;
   }

   .product__cost {
      font-weight: 700;
      font-size: inherit;
      white-space: nowrap;
   }
}

.product__purchasing {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   margin-top: auto;
   // inside is <p> or buttons

   .product__desc {
      max-width: 162px;
      color: $gray;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.56px;
   }

   .product__type-buttons {
      display: flex;
      gap: 24px;

      .product__button {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 64px;
         height: 32px;
         border: 2px solid #ffd28f;
         border-radius: 8px;
         color: #ffd28f;
         font-size: 16px;
         font-weight: 600;
         letter-spacing: 0.64px;
         transition: all 0.15s linear;

         &:hover {
            border-color: rgba($orange, 0.6);
            color: rgba($orange, 0.9);
         }

         &:has(.product__radio:checked) {
            color: $orange;
            border-color: $orange;
         }

         .product__radio {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
         }
      }
   }

   .product__buy {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: $orange;
      transition: box-shadow 0.15s linear;

      &--selected {
         background-color: $dark-orange;
         color: #fff;
         font-weight: 600;
      }

      &:hover {
         box-shadow: 0 0 0 4px $dark-orange inset;
      }

      img {
         width: 18px;
         height: 17px;
      }
   }
}

/* Header */

.header {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   margin-top: 42px;
   transition: top 0.2s linear;
   z-index: 500;

   &--scrolled {
      position: fixed;
      top: -100%;
      margin-top: 0;
      animation-name: scrolledHeader;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;

      .header__wrap {
         padding: 12px 25px;
         background-color: $peach;
         border-radius: 30px;
         box-shadow: 0 0 20px 0 rgba($gray, 0.2);
      }

      .header__search-content {
         top: 65px;
      }
   }

   @keyframes scrolledHeader {
      0% {
         top: -100%;
      }
      100% {
         top: 10px;
      }
   }
}

.header__wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 142px;
   margin-left: auto;
}

.header__logo {
   flex-shrink: 0;
}

.header__links {
   display: flex;
   gap: 32px;

   li {
      flex-shrink: 0;
   }
}

.header__link {
   color: #000;
   transition: color 0.15s linear;

   &:hover {
      color: rgba($orange, 0.67);
   }

   &--active {
      color: $orange;

      &:hover {
         color: $orange;
      }
   }
}

.header__search {
   position: relative;
   display: flex;
   align-items: center;
   gap: 26px;
}

.header__search-field {
   position: relative;

   input {
      width: 100%;
      padding: 11px 11px 11px 52px;
      font-size: 12px;
      background-color: #fff;
      border-radius: 35px;
      box-shadow: 6px 2px 24px 0 rgba(#000, 0.13);

      &::placeholder {
         color: #929292;
      }
   }

   img {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: 20px;
   }
}

.header__search-content {
   position: absolute;
   top: 50px;
   right: 0;
   display: none;
   padding: 7px;
   width: 100%;
   max-height: 300px;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0 0 20px 1px rgba($gray, 0.2);
   overflow-y: auto;
   z-index: 300;

   &--opened {
      display: block;
   }
}

.header__seach-item {
   padding: 7px;
   line-height: 1.2;
   border-radius: 10px;
   transition: background-color 0.2s;
   cursor: pointer;

   &:hover {
      background-color: #ffe9d2;
   }
}

.header__burger {
   display: none;
}

.header__cart {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 42px;
   height: 42px;
   z-index: 100;
   border-radius: 50%;
   background-color: rgba($orange, 0.5);
   transition: background-color 0.15s linear;

   img {
      width: 25px;
      height: 25px;
   }

   &:hover {
      background-color: $orange;
   }

   &--active::after {
      content: "";
      position: absolute;
      top: 9px;
      right: 5px;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: $orange;
      animation: active-appearing 0.4s;
      z-index: 800;

      @keyframes active-appearing {
         0% {
            transform: scale(1);
         }
         50% {
            transform: scale(1.2);
         }
         100% {
            transform: scale(1);
         }
      }
   }
}

/* Intro */

.intro {
   background:
      url("../img/intro/intro-bg.png") calc(100% + 63px) -34px,
      url("../img/intro/intro-bg.png") 7px calc(100% + 5px),
      $flesh;
   background-repeat: no-repeat;
}

.intro__content {
   display: flex;
   justify-content: space-between;
   gap: 25px;
   padding: 158px 25px 396px;
}

.intro__info {
   max-width: 489px;
   padding-top: 58px;
}

.intro__title {
   margin-bottom: 24px;
   color: $brown;
   line-height: 1.5;
   font-size: 48px;
   font-weight: 600;
   line-height: 1.5;

   span {
      color: $orange;
   }
}

.intro__desc {
   max-width: 393px;
   margin-bottom: 32px;
   color: $gray;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
}

.intro__links {
   display: flex;
   align-items: center;
   gap: 26px;
}

.intro__order-link {
   display: flex;
   align-items: center;
   gap: 10px;
   max-width: 215px;
   padding: 12px 32px;
   color: #fff;
   background-color: #2f2105;
   box-shadow: inset 0 0 0 3px $brown;
   font-size: 14px;
   font-weight: 600;
   border-radius: 33px;
   transition: all 0.2s linear;

   &:hover {
      background-color: rgba(0, 0, 0, 0);
      color: $brown;
   }

   .intro__order-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background-color: $orange;
      border-radius: 50%;

      img {
         width: 12px;
         height: 12px;
      }
   }
}

.intro__more-link {
   padding: 10px 24px;
   color: $yellow;
   font-size: 12px;
   font-weight: 700;
   transition: all 0.2s linear;

   &:hover {
      color: #fff;
      background-color: $orange;
   }
}

.intro__product {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex-shrink: 0;
   width: 416px;
   height: 416px;
   margin-right: 23px;
   padding: 90.5px 46.5px;
   border-radius: 50%;
   background:
      url("../img/intro/intro-circle-lines.svg") no-repeat center,
      $brown;

   > img {
      position: relative;
      top: 2px;
      width: 100%;
      height: auto;
   }

   .intro__product-item {
      position: absolute;
      padding: 6px;
      backdrop-filter: blur(2px);
      background-color: rgba(#fff, 0.5);
      z-index: 100;
      box-shadow: -2px 19px 32px 0 rgba(#302d26, 0.19);

      p {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 58px;
         background-color: #fff;
         color: $brown;
         font-size: 24px;
         font-weight: 600;
         border-radius: 42px;
      }

      &--name {
         width: 283px;
         top: 25px;
         left: -95px;
         border-radius: 62px;

         p {
            padding: 14px 27px;
         }
      }

      &--rating {
         width: 150px;
         top: 88px;
         right: -35px;
         border-radius: 62px;

         p {
            gap: 4px;
            padding: 17px 30px;
            border-radius: 50px;
         }

         img {
            width: 24px;
            height: 24px;
         }
      }

      &--amount {
         width: 155px;
         bottom: 33px;
         left: 15px;
         border-radius: 62px;
      }
   }
}

/* Popular */

.popular {
   position: relative;
   top: -325px;
   background: url("../img/popular/popular-rectangle.svg") bottom center;
   background-size: 100% contain;
   background-repeat: no-repeat;
   z-index: 100;

   .page-title {
      margin-bottom: 42px;
   }
}

.popular__content {
   margin: 0 auto;
   padding: 41px 25px 0 25px;
   overflow-y: auto;
}

.popular__cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 38px;
   margin: 0 auto;
   padding: 0 25px 87px 25px;

   .product {
      max-width: 358px;
      min-width: 270px;
      flex: 1 0 270px;
   }
}

/* Delivery */

.delivery {
   margin-top: -325px;
   padding-top: 120px;

   .page-title {
      margin-bottom: 32px;
   }
}

.delivery__cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.delivery__card {
   flex: 1 1 213px;
   padding: 16px 24px;
   text-align: center;

   img {
      display: inline-block;
      margin-bottom: 17px;
   }
}

.delivery__card-title {
   margin-bottom: 8px;
   color: $brown;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.3;
   letter-spacing: 0.96px;
}

.delivery__card-desc {
   color: #000;
   letter-spacing: 0.72px;
}

/* About */

.about {
   background: url("../img/about/about-bg.png") repeat-x center 100%;
   padding-top: 120px;

   .page-title {
      margin-bottom: 24px;
   }
}

.about__content {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 35px;
   max-width: 1076px;
   padding-bottom: 63px;
}

.about__image-wrap {
   align-self: center;
   min-width: 288px;
   padding: 6px;
   border-radius: 12px;
   background-color: rgba(#fff, 0.5);
   box-shadow: 0 6px 16px 0 rgba(#000, 0.16);

   img {
      width: 359px;
      border-radius: 12px;
   }
}

.about__info {
   padding: 0 4.27% 20px 0;
}

.about__subtitle {
   max-width: 348px;
   margin-bottom: 16px;
   color: #000;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.5;
   letter-spacing: 0.96px;
}

.about__desc {
   max-width: 478px;
   margin-bottom: 32px;
   color: $gray;
   line-height: 1.5;
   letter-spacing: 0.72px;
}

.about__button {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 24px;
   border-radius: 33px;
   background-color: $brown;
   color: $yellow;
   font-size: 12px;
   font-weight: 700;
   box-shadow: inset 0 0 0 3px $brown;
   transition: all 0.2s linear;

   &:hover {
      background-color: rgba(0, 0, 0, 0);
      color: $orange;
   }
}

/* Special */

.special {
   margin-bottom: 120px;
   padding-top: 120px;

   .page-title {
      margin-bottom: 32px;
   }
}

.special__cards {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
   gap: 40px;

   .product {
      box-shadow: 0 6px 16px 0 rgba(#000, 0.16);
   }
}

/* Reviews */

.reviews {
   margin-bottom: 120px;
   background: url("../img/reviews/reviews-bg.png") no-repeat left / contain;
   overflow-x: hidden;

   .page-title {
      margin-bottom: 16px;
   }
}

.reviews__content {
   display: flex;
   align-items: center;
   width: 200vw;
   padding: 102px 0 70px;
   overflow-x: hidden;
}

.reviews__info {
   flex: 0 1 470px;
   padding-right: 54px;
}

.reviews__desc {
   max-width: 352px;
   color: $gray;
   line-height: 1.5;
}

.reviews__slider {
   overflow: hidden;
}

.reviews__slider-blocks {
   display: flex;
   gap: 40px;
   margin-bottom: 18px;
   transition: transform 0.2s linear;
}

.reviews__slider-block {
   position: relative;
   flex-shrink: 0;
   width: 269px; //17.35vw;
   padding-right: 54px;

   img {
      width: 100%;
      height: 100%;
      border: 6px solid rgba(#ffd390, 0.63);
      object-fit: cover;
   }
}

.reviews__slider-info {
   position: absolute;
   bottom: 22px;
   right: 0;
   width: 87.01%;
   min-height: 86px;
   padding: 12px;
   box-shadow: 0 0 0 6px rgba(#ffd390, 0.63);
   border-radius: 8px;
   background-color: #ffcb7c;
   color: $brown;
   line-height: 1.5;
   z-index: 50;
}

.reviews__reviewer-name {
   font-weight: 500;
   letter-spacing: 0.72px;
}

.reviews__slider-review {
   font-size: 14px;
   letter-spacing: 0.56px;
   word-wrap: break-word;
}

.reviews__stage-wrap {
   display: flex;
   align-items: center;
   gap: 30px;
   max-width: 800px;
}

.reviews__stage-back,
.reviews__stage-forth {
   display: flex;
   align-items: center;
   justify-content: center;

   &--blocked {
      opacity: 0.5;
   }
}

/* Subscription */

.subscription {
   margin-bottom: 120px;
}

.subscription__content {
   padding: 132px 30px;
   background: url("../img/subscription/subscription-bg.png") center / cover;
   border-radius: 24px;
}

.subscription__text {
   margin-bottom: 26px;
   text-align: center;
   color: #fff;
   font-size: 32px;
   font-weight: 600;
   letter-spacing: 1.28px;
}

.subscription__form {
   position: relative;
   max-width: 486px;
   margin: 0 auto;
}

.subscription__input {
   width: 100%;
   height: 54px;
   padding: 18px 145px 18px 16px;
   border-radius: 42px;
   color: #000;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 0.64px;
   background-color: #fff;

   ::placeholder {
      color: #7e7d7a;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 600;
      letter-spacing: 0.64px;
   }
}

.subscription__btn {
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 138px;
   height: calc(100% - 10px);
   border-radius: 33px;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   background-color: $brown;
   box-shadow: inset 0 0 0 3px $brown;
   transition: all 0.2s linear;
   z-index: 50;

   &:hover {
      background-color: rgba(0, 0, 0, 0);
      color: $brown;
   }
}
