* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat; }

body {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 1; }

::selection {
  background-color: #463d2c;
  border-radius: 10px; }

ul,
ol,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

button,
input {
  font-family: "Poppins", sans-serif;
  background: none;
  outline: 0;
  border: 0;
  box-shadow: none; }

button {
  cursor: pointer; }

/* --Blocks-- */
.wrapper {
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto; }

.page-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.28px; }
  .page-title u {
    position: relative;
    text-decoration: none;
    white-space: nowrap; }
  .page-title u::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #ff902b;
    z-index: 10; }

.cart {
  position: fixed;
  top: 80px;
  right: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  padding: 30px 30px 90px 30px;
  border-radius: 15px;
  background-color: #ffddab;
  box-shadow: 0 0 20px 0 rgba(126, 125, 122, 0.2);
  overflow-y: hidden;
  z-index: 650; }
  .cart--opened {
    display: flex; }
  .cart .cart__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    max-height: 400px;
    min-height: 45px;
    width: 100%;
    font-size: 21px;
    color: #2f2105;
    overflow-y: auto; }
    .cart .cart__content .cart__title-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      text-align: center; }
      .cart .cart__content .cart__title-wrap--disappeared {
        display: none; }
    .cart .cart__content .cart__title {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #2f2105; }
    .cart .cart__content .cart__product {
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 25px; }
      .cart .cart__content .cart__product .cart__product-img-wrap {
        width: 125px;
        height: 125px;
        margin-right: 20px; }
        .cart .cart__content .cart__product .cart__product-img-wrap img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          border: 3px solid #fff;
          object-fit: cover; }
      .cart .cart__content .cart__product .cart__product-name {
        width: 180px;
        margin-right: 15px; }
      .cart .cart__content .cart__product .cart__product-change {
        display: flex;
        gap: 14px;
        margin-right: 20px; }
        .cart .cart__content .cart__product .cart__product-change .cart__product-amount {
          width: 30px;
          text-align: center; }
        .cart .cart__content .cart__product .cart__product-change button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 21px;
          height: 21px;
          font-size: 20px;
          color: #2f2105;
          border: 2px solid #2f2105;
          border-radius: 4px;
          user-select: none; }
      .cart .cart__content .cart__product .cart__product-total-cost {
        margin-left: auto; }
  .cart .cart__purchase {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 75px;
    padding: 0 30px;
    background-color: rgba(255, 144, 43, 0.7);
    z-index: 700; }
    .cart .cart__purchase--showed {
      display: flex; }
    .cart .cart__purchase .cart__total-cost {
      font-size: 17px;
      font-weight: 500; }
      .cart .cart__purchase .cart__total-cost span {
        display: inline-block;
        width: 65px; }
    .cart .cart__purchase .cart__buy-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      min-width: 100px;
      padding: 12px;
      color: #f4ae26;
      background-color: #2f2105;
      box-shadow: inset 0 0 0 3px #2f2105;
      font-size: 17px;
      font-weight: 600;
      border-radius: 33px;
      transition: all 0.2s linear; }
      .cart .cart__purchase .cart__buy-btn:hover {
        background-color: #ff902b;
        color: #2f2105; }

.coffee {
  padding: 6px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-shadow: 10px 10px 32px 0 rgba(0, 0, 0, 0.25); }

.coffee__block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 18px 19px 18px;
  border-radius: 12px;
  background-color: #fff; }

.coffee__image-wrap {
  position: relative; }
  .coffee__image-wrap > img {
    width: 100%;
    height: auto;
    border-radius: 12px; }

.coffee__rating-wrap {
  position: absolute;
  top: 7px;
  left: 10px;
  padding: 4px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  z-index: 150; }
  .coffee__rating-wrap .coffee__rating {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 50px; }
    .coffee__rating-wrap .coffee__rating p {
      color: #2f2105;
      font-weight: 700;
      letter-spacing: 0.56px; }
    .coffee__rating-wrap .coffee__rating .coffee__star {
      width: 14px;
      height: 14px;
      user-select: none; }

.coffee__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 19px 15px 0 11px; }

.coffee__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 6px;
  font-size: 24px;
  color: #2f2105;
  letter-spacing: 0.96px; }
  .coffee__title .coffee__name {
    font-weight: 600;
    font-size: inherit; }
  .coffee__title .coffee__cost {
    font-weight: 700;
    font-size: inherit;
    white-space: nowrap; }

.coffee__purchasing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: auto; }
  .coffee__purchasing .coffee__desc {
    max-width: 162px;
    color: #7e7d7a;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.56px; }
  .coffee__purchasing .coffee__type-buttons {
    display: flex;
    gap: 24px; }
    .coffee__purchasing .coffee__type-buttons .coffee__button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 32px;
      border: 2px solid #ffd28f;
      border-radius: 8px;
      color: #ffd28f;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.64px;
      transition: all 0.15s linear; }
      .coffee__purchasing .coffee__type-buttons .coffee__button:hover {
        border-color: rgba(255, 144, 43, 0.6);
        color: rgba(255, 144, 43, 0.9); }
      .coffee__purchasing .coffee__type-buttons .coffee__button:has(.coffee__radio:checked) {
        color: #ff902b;
        border-color: #ff902b; }
      .coffee__purchasing .coffee__type-buttons .coffee__button .coffee__radio {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer; }
  .coffee__purchasing .coffee__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #ff902b;
    transition: box-shadow 0.15s linear; }
    .coffee__purchasing .coffee__buy--selected {
      background-color: #ff6600;
      color: #fff;
      font-weight: 600; }
    .coffee__purchasing .coffee__buy:hover {
      box-shadow: 0 0 0 4px #ff6600 inset; }
    .coffee__purchasing .coffee__buy img {
      width: 18px;
      height: 17px; }

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 42px;
  transition: top 0.2s linear;
  z-index: 500; }
  .header--scrolled {
    position: fixed;
    top: -100%;
    margin-top: 0;
    animation-name: scrolledHeader;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }
    .header--scrolled .header__wrap {
      padding: 12px 25px;
      background-color: #ffddab;
      border-radius: 30px;
      box-shadow: 0 0 20px 0 rgba(126, 125, 122, 0.2); }
  .header--removed {
    top: 10px;
    animation-name: scrolledHeader;
    animation-direction: reverse;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; }
@keyframes scrolledHeader {
  0% {
    top: -100%; }
  100% {
    top: 10px; } }
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 142px;
  margin-left: auto; }

.header__logo {
  flex-shrink: 0; }

.header__links {
  display: flex;
  gap: 32px; }
  .header__links li {
    flex-shrink: 0; }

.header__link {
  color: #000;
  transition: color 0.15s linear; }
  .header__link:hover {
    color: rgba(255, 144, 43, 0.67); }
  .header__link--active {
    color: #ff902b; }
    .header__link--active:hover {
      color: #ff902b; }

.header__search {
  display: flex;
  align-items: center;
  gap: 26px; }

.header__cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(255, 144, 43, 0.5);
  transition: background-color 0.15s linear; }
  .header__cart img {
    width: 25px;
    height: 25px; }
  .header__cart:hover {
    background-color: #ff902b; }

.header__search-field {
  position: relative; }
  .header__search-field input {
    padding: 11px 11px 11px 52px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 6px 2px 24px 0 rgba(0, 0, 0, 0.13); }
    .header__search-field input::placeholder {
      color: #929292; }
  .header__search-field img {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px; }

.header__burger {
  display: none; }

/* Intro */
.intro {
  background: url("../img/intro/intro-bg.png") calc(100% + 63px) -34px, url("../img/intro/intro-bg.png") 7px calc(100% + 5px), #f6ebda;
  background-repeat: no-repeat; }

.intro__content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 158px 25px 396px; }

.intro__info {
  max-width: 489px;
  padding-top: 58px; }

.intro__title {
  margin-bottom: 24px;
  color: #2f2105;
  line-height: 1.5;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5; }
  .intro__title span {
    color: #ff902b; }

.intro__desc {
  max-width: 393px;
  margin-bottom: 32px;
  color: #7e7d7a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; }

.intro__links {
  display: flex;
  align-items: center;
  gap: 26px; }

.intro__order-link {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 215px;
  padding: 12px 32px;
  color: #fff;
  background-color: #2f2105;
  box-shadow: inset 0 0 0 3px #2f2105;
  font-size: 14px;
  font-weight: 600;
  border-radius: 33px;
  transition: all 0.2s linear; }
  .intro__order-link:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2f2105; }
  .intro__order-link .intro__order-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ff902b;
    border-radius: 50%; }
    .intro__order-link .intro__order-icon img {
      width: 12px;
      height: 12px; }

.intro__more-link {
  padding: 10px 24px;
  color: #f4ae26;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.2s linear; }
  .intro__more-link:hover {
    color: #fff;
    background-color: #ff902b; }

.intro__coffee {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 416px;
  height: 416px;
  margin-right: 23px;
  padding: 90.5px 46.5px;
  border-radius: 50%;
  background: url("../img/intro/intro-circle-lines.svg") no-repeat center, #2f2105; }
  .intro__coffee > img {
    position: relative;
    top: 2px;
    width: 100%;
    height: auto; }
  .intro__coffee .intro__coffee-item {
    position: absolute;
    padding: 6px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    box-shadow: -2px 19px 32px 0 rgba(48, 45, 38, 0.19); }
    .intro__coffee .intro__coffee-item p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 58px;
      background-color: #fff;
      color: #2f2105;
      font-size: 24px;
      font-weight: 600;
      border-radius: 42px; }
    .intro__coffee .intro__coffee-item--name {
      width: 283px;
      top: 25px;
      left: -95px;
      border-radius: 62px; }
      .intro__coffee .intro__coffee-item--name p {
        padding: 14px 27px; }
    .intro__coffee .intro__coffee-item--rating {
      width: 150px;
      top: 88px;
      right: -35px;
      border-radius: 62px; }
      .intro__coffee .intro__coffee-item--rating p {
        gap: 4px;
        padding: 17px 30px;
        border-radius: 50px; }
      .intro__coffee .intro__coffee-item--rating img {
        width: 24px;
        height: 24px; }
    .intro__coffee .intro__coffee-item--amount {
      width: 155px;
      bottom: 33px;
      left: 15px;
      border-radius: 62px; }

/* Popular */
.popular {
  position: relative;
  top: -325px;
  margin-bottom: 120px;
  background: url("../img/popular/popular-rectangle.svg") bottom center;
  background-size: 100% contain;
  background-repeat: no-repeat;
  z-index: 100; }
  .popular .page-title {
    margin-bottom: 42px; }

.popular__content {
  margin: 0 auto;
  padding: 41px 25px 0 25px;
  overflow-y: auto; }

.popular__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;
  margin: 0 auto;
  padding: 0 25px 87px 25px; }
  .popular__cards .coffee {
    max-width: 358px;
    min-width: 270px;
    flex: 1 0 270px; }

/* Delivery */
.delivery {
  margin: -325px 0 120px 0; }
  .delivery .page-title {
    margin-bottom: 32px; }

.delivery__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px; }

.delivery__card {
  flex: 1 1 213px;
  padding: 16px 24px;
  text-align: center; }
  .delivery__card img {
    display: inline-block;
    margin-bottom: 17px; }

.delivery__card-title {
  margin-bottom: 8px;
  color: #2f2105;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.96px; }

.delivery__card-desc {
  color: #000;
  letter-spacing: 0.72px; }

/* About */
.about {
  background: url("../img/about/about-bg.png") repeat-x center 100%;
  margin-bottom: 120px; }
  .about .page-title {
    margin-bottom: 24px; }

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 35px;
  max-width: 1076px;
  padding-bottom: 63px; }

.about__image-wrap {
  align-self: center;
  min-width: 288px;
  padding: 6px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16); }
  .about__image-wrap img {
    width: 359px;
    border-radius: 12px; }

.about__info {
  padding: 0 4.27% 20px 0; }

.about__subtitle {
  max-width: 348px;
  margin-bottom: 16px;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.96px; }

.about__desc {
  max-width: 478px;
  margin-bottom: 32px;
  color: #7e7d7a;
  line-height: 1.5;
  letter-spacing: 0.72px; }

.about__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 24px;
  border-radius: 33px;
  background-color: #2f2105;
  color: #f4ae26;
  font-size: 12px;
  font-weight: 700;
  box-shadow: inset 0 0 0 3px #2f2105;
  transition: all 0.2s linear; }
  .about__button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ff902b; }

/* Special */
.special {
  margin-bottom: 120px; }
  .special .page-title {
    margin-bottom: 32px; }

.special__cards {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 40px; }
  .special__cards .coffee {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16); }

/* Reviews */
.reviews {
  margin-bottom: 120px;
  background: url("../img/reviews/reviews-bg.png") no-repeat left/contain;
  overflow: hidden; }
  .reviews .page-title {
    margin-bottom: 16px; }

.reviews__content {
  display: flex;
  align-items: center;
  width: 200vw;
  padding: 102px 0 70px; }

.reviews__info {
  max-width: calc(100vw - 50px);
  padding-right: 54px; }

.reviews__desc {
  max-width: 352px;
  color: #7e7d7a;
  line-height: 1.5; }

.reviews__slider {
  overflow: hidden; }

.reviews__slider-blocks {
  display: flex;
  gap: 82px;
  margin-bottom: 18px; }

.reviews__slider-block {
  position: relative;
  border: 6px solid rgba(255, 211, 144, 0.63);
  flex-shrink: 0; }
  .reviews__slider-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.reviews__slider-info {
  position: absolute;
  bottom: 16px;
  left: 30px;
  width: 240px;
  min-height: 58px;
  padding: 12px;
  box-shadow: 0 0 0 6px rgba(255, 211, 144, 0.63);
  border-radius: 8px;
  background-color: #ffcb7c;
  color: #2f2105;
  line-height: 1.5;
  z-index: 50; }

.reviews__reviewer-name {
  font-weight: 500;
  letter-spacing: 0.72px; }

.reviews__slider-review {
  font-size: 14px;
  letter-spacing: 0.56px;
  word-wrap: break-word; }

.reviews__stage-wrap {
  max-width: 800px; }

.reviews__stage {
  display: flex;
  max-width: 46px;
  gap: 8px;
  margin: 0 auto; }
  .reviews__stage .reviews__stage-block {
    width: 10px;
    height: 10px;
    border: 2px solid #ff902b;
    border-radius: 50%;
    background-color: #ffe9d2; }
    .reviews__stage .reviews__stage-block--current {
      background-color: #ff902b; }

/* Subscription */
.subscription {
  margin-bottom: 120px; }

.subscription__content {
  padding: 132px 30px;
  background: url("../img/subscription/subscription-bg.png") center/cover;
  border-radius: 24px; }

.subscription__text {
  margin-bottom: 26px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.28px; }

.subscription__form {
  position: relative;
  max-width: 486px;
  margin: 0 auto; }

.subscription__input {
  width: 100%;
  height: 54px;
  padding: 18px 145px 18px 16px;
  border-radius: 42px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  background-color: #fff; }
  .subscription__input ::placeholder {
    color: #7e7d7a;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.64px; }

.subscription__btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: calc(100% - 10px);
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #2f2105;
  box-shadow: inset 0 0 0 3px #2f2105;
  transition: all 0.2s linear;
  z-index: 50; }
  .subscription__btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #2f2105; }
